@model Work.Models.supplier

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    /* Container styling */
    .container {
      
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color: #f4f4f4;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Header styling */
    h2 {
        color: #000000;
        text-align: center;
    }

    /* List styling */
    .dl-horizontal {
        display: flex;
        flex-wrap: wrap;
    }

        .dl-horizontal dt,
        .dl-horizontal dd {
            flex: 0 0 50%;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ddd;
        }

        .dl-horizontal dt {
            font-weight: bold;
            text-align: center;
            background-color: #808080;
            color: #fff;
        }

        .dl-horizontal dd {
            background-color: #f8f8f8;
        }
    a.edit-button {
        display: inline-block;
        padding: 10px 20px;
        margin-right: 10px;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        background-color: #808080;
    }

    a.back-button {
       
        background-color: #e53935;
    }

    /* Action links styling */
  
</style>

<div class="container">
    <h2>Supplier Details</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.supplierID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supplierID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.supplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supplierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
        <br />
        <br />
        <br />

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.supplierID }, new { @class = "button edit-button" }) |
        @Html.ActionLink("Back to List", "Index", new { @class = "button back-button" })
    </p>

</div>

